.game-field {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px 20px;
  border: 6px solid #eee;
  border-radius: 20px;
  width: 90%;
  min-height: 250px;

  margin-top: 20px;

  background-color: #58a2a9;

  -webkit-box-shadow: 0px 0px 15px 0px #4b6e71;
  box-shadow: 0px 0px 15px 0px #4b6e71;

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  z-index: 50;

  text-align: center;

  flex-grow: 1;
}

.button-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  border-radius: 20px;
  width: 400px;
  width: 70%;

  z-index: 50;

  /* border-top: 1px dashed #eee;
  border-bottom: 1px dashed #ff914b; */
}

.answer {
  border: 1px solid transparent;
}
.answer:hover {
  position: relative;
  cursor: pointer;
  border: 0px solid red;
  background-color: #4b6e71;
  border-radius: 20px;
  border: 1px solid transparent;
}
/* .answer:hover::after {
  content: "*";
  position: absolute;
  left: 40px;
  top: 0;
  width: 30px;
  height: 30px;
  color: #eee;
}
.answer:hover::before {
  content: "*";
  position: absolute;
  right: 40px;
  top: 0;
  width: 30px;
  height: 30px;
  color: #eee;
} */

.answer--false {
  position: relative;
  color: #ff524c;
  z-index: 10;
  background-color: #714b4b;
  border-radius: 20px;

  border: 1px solid #ff524c;
  animation: animFalse 0.2s ease 0s 3 normal forwards;
}
@keyframes animFalse {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.answer--false:hover {
  position: relative;
  color: #ff524c;
  z-index: 10;
  background-color: #714b4b;
  border: 1px solid #ff524c;
}
.answer--false::after {
  content: "-";
  position: absolute;
  left: 5%;
  color: #eee;
}
.answer--false::before {
  content: "-";
  position: absolute;
  right: 5%;
  color: #eee;
}

.answer--true {
  position: relative;
  color: greenyellow;
  background-color: #5b714b;
  border-radius: 20px;
  border: 1px solid greenyellow;
  animation: animTrue 0.2s ease 0s 1 normal forwards;
}
@keyframes animTrue {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.answer--true:hover {
  position: relative;
  color: greenyellow;
  background-color: #5b714b;
  border-radius: 20px;
  border: 1px solid greenyellow;
}
.answer--true::after {
  content: "*";
  position: absolute;
  left: 5%;
  color: #eee;
}
.answer--true::before {
  content: "*";
  position: absolute;
  right: 5%;
  color: #eee;
}

.advertsBtnDisabled {
  background: rgb(170, 170, 170);
  background: linear-gradient(
    180deg,
    rgba(170, 170, 170, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
}
.advertsBtnDisabled:hover {
  cursor: default;
  background: rgb(170, 170, 170);
  background: linear-gradient(
    180deg,
    rgba(170, 170, 170, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
}

/* iPad -mini */
@media screen and (min-width: 1024px) and (max-height: 768px) {
  .game-field {
    padding: 0px 20px;
    margin-top: 5px;
    border: 5px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
