.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  border: 6px solid #eee;
  border-radius: 20px;
  width: 400px;
  width: 80%;

  background-color: #58a2a9;

  -webkit-box-shadow: 0px 0px 15px 0px #4b6e71;
  box-shadow: 0px 0px 15px 0px #4b6e71;

  z-index: 50;

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.progress-bar p {
  display: flex;
  align-items: center;
  font-weight: 700;

  text-shadow: 0px 0px 3px #4b6e71;
}

.progress-bar span.progress {
  display: flex;
  align-items: center;
  background-color: #ff914b;

  height: 15px;
  z-index: 50;
  -webkit-box-shadow: 0px 0px 15px 0px #4b6e71;
  box-shadow: 0px 0px 15px 0px #4b6e71;

  border: 5px solid #febc5a;
  border-top: 3px solid #febc5a;
  border-bottom: 4px solid #febc5a;

  border-radius: 20px;

  background: rgb(255, 145, 75);
  background: linear-gradient(
    180deg,
    rgba(255, 145, 75, 1) 0%,
    rgba(254, 188, 90, 1) 100%
  );
}
