#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.headline-background {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;

  top: -30px;

  width: 90%;

  z-index: 5;

  padding: 75px 0 75px 0;
  margin-top: -55px;

  background-color: #4b6e71;
  background-color: #ff914b;

  border-radius: 50%;

  border: 6px solid #febc5a;
  border-color: #eee;

  -webkit-box-shadow: 0px 0px 15px 0px #4b6e71;
  box-shadow: 0px 0px 15px 0px #4b6e71;

  background: rgb(254, 188, 90);
  background: linear-gradient(
    180deg,
    rgba(254, 188, 90, 1) 0%,
    rgba(255, 145, 75, 1) 100%
  );

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.btn-mute {
  position: absolute;
  border: 3px solid #eee;
  border-radius: 20px;

  padding: 10px 15px 10px 12px;
  right: -5px;
  bottom: 0px;
  line-height: 0;
  background: rgb(254, 188, 90);
  background: linear-gradient(
    180deg,
    rgba(254, 188, 90, 1) 0%,
    rgba(255, 145, 75, 1) 100%
  );

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.btn-mute img {
  width: 15px;
  height: 20px;
}
.btn-mute:hover {
  cursor: pointer;
  background: rgb(255, 145, 75);
  background: linear-gradient(
    180deg,
    rgba(255, 145, 75, 1) 0%,
    rgba(254, 188, 90, 1) 100%
  );
}

.board {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  gap: 15px;

  /* background-color: #58a2a9;
  background-color: #4b6e71; */
  /* background-color: #4bb6f3; */

  border: 6px solid #eee;
  border-radius: 20px;

  width: 450px;
  min-height: 800px;
  height: 75vh;
  margin: 45vh auto 0;
  transform: translateY(-40%);

  padding: 95px 0 20px;

  -webkit-box-shadow: 0px 0px 15px 0px #333333;
  box-shadow: 0px 0px 15px 0px #333333;
  z-index: 50;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.board::after {
  content: "";
  position: absolute;
  background-color: #4b6e71;
  border-radius: 20px;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: 0;

  background: rgb(135, 157, 159);
  background: linear-gradient(
    180deg,
    rgba(135, 157, 159, 1) 0%,
    rgba(75, 110, 113, 1) 100%
  );
}

/* ToDo:  */
/* evtl. aufteilen in enstprechende Components */

.button-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  border-radius: 20px;
  width: 400px;
  width: 70%;

  z-index: 50;

  /* border-top: 1px dashed #eee;
  border-bottom: 1px dashed #ff914b; */
}

@media screen and (min-width: 480px) and (max-height: 1080px) {
  body {
    border: 3px solid transparent;
  }
  .headline-background {
    width: 80%;
  }

  .board {
    width: 450px;
    height: 730px;
    min-height: 75vh;
    margin: 47vh auto 0;
    transform: translateY(-42%);

    padding: 95px 0 20px;
  }
}

/* Ipad -  mini */
@media screen and (min-width: 1024px) and (max-height: 768px) {
  body {
    border: 3px solid transparent;
  }
  .headline-background {
    width: 80%;
    padding: 50px 0 50px 0;
    margin-top: -25px;
  }
  .btn-mute {
    right: -5px;
    bottom: -30px;
  }
  .board {
    width: 450px;

    min-height: 500px;
    max-height: 680px;

    margin: 50vh auto 0;
    transform: translateY(-47%);

    padding: 95px 0 20px;
  }
}
